* {
    padding: 0;
    margin: 0;
}

:root {
    --base: #f5f5f5;
    --border: #e0d1d1;
    --tables: #fffec6;
    --check: rgba(95, 101, 105, 0.63);
    --htmlTextBase: #c6e3ff;
    --jsTextBase: #e6f3ed;
}

.item-checked {
    color: var(--check);
    text-decoration:line-through;
}

body,
.col-xs-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.panel {
    flex-direction: column;
    padding: 0.5rem;
    border: 1px solid var(--border);
    border-radius: 0.25rem;
    background-color: var(--base);
}

.col-xs-6 {
   flex-direction: column;
   flex: 8;
}

.col-xs-2.total,
.col-xs-2.total.text-center {
    flex:1;
}

.col-xs-12 .row {
    margin-top: 1rem; 
}

.btn.btn-primary {
    width: 100%;
    margin-top: -1.5rem;
}

.panelOptions {
    display: flex;
    flex:3;
    width: 100%;
    height: 3rem;
    margin-top: 0.5rem;
    border: 1px solid var(--border);
    border-radius: 0.25rem;
    background-color: var(--base);
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.options {
    margin-top: 0.5rem;
    background-color: var(--base);
    border: 1px solid var(--border);
    border-radius: 0.25rem;
}

.codeTextView {  
    padding: 0.5rem;
}

.htmlText,
.jsText {
    border: 1px solid var(--border);
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.htmlText {
    background-color: var(--htmlTextBase);
}

.jsText {
    margin-top: 0.2rem;
    background-color: var(--jsTextBase);
}








